.DS_Store
.vs/VetPet/FileContentIndex/cfa7b93e-eb2a-4ef1-a5af-166a0296b99f.vsidx
.vs/VetPet/FileContentIndex/af5d716d-9c7f-442f-a166-08d240574610.vsidx
.vs/VetPet/FileContentIndex/c69b647b-c402-45f8-bb99-812deabd9544.vsidx
.vs/VetPet/FileContentIndex/c17dded3-cc8b-4cac-8d14-5d855586914a.vsidx
.vs/VetPet/FileContentIndex/b0ef1caf-b6e3-4252-9779-243b6ddea33f.vsidx
.vs/VetPet/FileContentIndex/4b9f491d-ef39-4360-8865-8c69d921e05e.vsidx
/.vs/VetPet/FileContentIndex
/bin/Debug
/.vs
/bin
/obj
